# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.env/
venv/
env/
*.egg-info/
dist/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log

# OS files
Thumbs.db

# dotenv
.env

# Python pickle files
*.pkl

*.identifi
